<section id="Navbar">
  <span href="home" class="navbar-links">
    <i data-tooltip="Home" class="bi bi-house-fill"></i>
  </span>
  <span href="about" class="navbar-links">
    <i class="bi bi-person-fill"></i>
  </span>
  <span href="resume" class="navbar-links">
    <i class="bi bi-file-earmark-person-fill"></i>
  </span>
  <span href="portfolio" class="navbar-links">
    <i class="bi bi-briefcase-fill"></i>
  </span>
  <span href="blog" class="navbar-links">
    <i class="bi bi-journal-code"></i>
  </span>
  <span href="contact" class="navbar-links">
    <i class="bi bi-envelope-fill"></i>
  </span>
</section>
