#Navbar {
  top: 0;
  left: 0;
  height: 100vh;
  position: fixed;
  border-right: 2px solid black;
  text-align: center;
  font-size: 2rem;
  width: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 150px;
}

.nav-link-container{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.navbar-links{
  display: block;
  color: white;
  width: 100%;
  height: 8vh;
  margin-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.navbar-links:hover{
  transition: .5s;
  cursor: pointer;
  color: cornflowerblue;
}

.navbar-links:hover::after{
  transition: .5s;
  content: attr(data-tooltip);
  font-size: 1rem;
  color: white;
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-left: 1px solid cornflowerblue;
  border-radius: 5%;
  max-width: 50% !important;
}

/*[data-tooltip].navbar-links:hover::after {*/
/*  content: attr(data-tooltip);*/
/*  font-size: 1rem;*/
/*  background: black;*/
/*  padding: 0.25rem 1.25rem;*/
/*}*/

/*[data-tooltip] {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  top: 100%;*/
/*}*/
