<section id="Navbar">
  <div class="nav-link-container">
    <div href="home" class="navbar-links" data-tooltip="Home">
      <i class="bi bi-house-fill"></i>
    </div>
    <div href="about" class="navbar-links" data-tooltip="About">
      <i class="bi bi-person-fill"></i>
    </div>
      <div href="resume" class="navbar-links" data-tooltip="Resume">
      <i class="bi bi-file-earmark-person-fill"></i>
    </div>
      <div href="portfolio" class="navbar-links" data-tooltip="Portfolio">
      <i class="bi bi-briefcase-fill"></i>
    </div>
      <div href="blog" class="navbar-links" data-tooltip="Blog">
      <i class="bi bi-journal-code"></i>
    </div>
      <div href="contact" class="navbar-links" data-tooltip="Contact">
      <i class="bi bi-envelope-fill"></i>
    </div>
  </div>
  <div class="nav-bg"></div>
</section>
