<section id="NavbarContainer" [ngClass]="navbarService.expanded?'':'navbarSlideOutLeft'">
  <div id="Navbar" class="nav-bg">
    <div class="nav-link-container">
      <a href="/" class="navbar-links" data-tooltip="Home">
        <i class="bi bi-house-fill"></i>
      </a>
      <a href="/about" class="navbar-links" data-tooltip="About">
        <i class="bi bi-person-fill"></i>
      </a>
      <a href="/resume" class="navbar-links" data-tooltip="Resume">
        <i class="bi bi-file-earmark-person-fill"></i>
      </a>
      <a href="/portfolio" class="navbar-links" data-tooltip="Portfolio">
        <i class="bi bi-briefcase-fill"></i>
      </a>
      <a href="/blog" class="navbar-links" data-tooltip="Blog">
        <i class="bi bi-receipt"></i>
      </a>
      <a href="/contact" class="navbar-links" data-tooltip="Contact">
        <i class="bi bi-envelope-fill"></i>
      </a>
    </div>
  </div>
  <button class="btn" id="ExpansionBtn" (click)="toggleNavbarExpansion()">
    <i class="bi bi-list"></i>
  </button>
</section>

